<a href="https://colab.research.google.com/github/SuhasTantri/Cardiovascular-Classification/blob/main/Suhas_Cardiovascular_prediction_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import numpy as np
import pandas as pd
from numpy import math

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
df=pd.read_csv('/content/drive/MyDrive/Suhas Classification Project/Copy of data_cardiovascular_risk.csv')

In [43]:
df.head()

   id  age  education sex  ...    BMI  heartRate  glucose  TenYearCHD
0   0   64        2.0   F  ...    NaN       90.0     80.0           1
1   1   36        4.0   M  ...  29.77       72.0     75.0           0
2   2   46        1.0   F  ...  20.35       88.0     94.0           0
3   3   50        1.0   M  ...  28.26       68.0     94.0           1
4   4   64        1.0   F  ...  26.42       70.0     77.0           0

[5 rows x 17 columns]

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3390 entries, 0 to 3389
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3390 non-null   int64
 1   age              3390 non-null   int64
 2   education        3303 non-null   float64
 3   sex              3390 non-null   object
 4   is_smoking       3390 non-null   object
 5   cigsPerDay       3368 non-null   float64
 6   BPMeds           3346 non-null   float64
 7   prevalentStroke  3390 non-null   int64
 8   prevalentHyp     3390 non-null   int64
 9   diabetes         3390 non-null   int64
 10  totChol          3352 non-null   float64
 11  sysBP            3390 non-null   float64
 12  diaBP            3390 non-null   float64
 13  BMI              3376 non-null   float64
 14  heartRate        3389 non-null   float64
 15  glucose          3086 non-null   float64
 16  TenYearCHD       3390 non-null   int64
dtypes: float64(9), int64(6), object(2)
memory usage: 450.4+ KB

In [33]:
df.describe()

                id          age  ...      glucose   TenYearCHD
count  3390.000000  3390.000000  ...  3390.000000  3390.000000
mean   1694.500000    49.542183  ...    75.538679     0.150737
std     978.753033     8.592878  ...    31.151865     0.357846
min       0.000000    32.000000  ...     9.069477     0.000000
25%     847.250000    42.000000  ...    68.000000     0.000000
50%    1694.500000    49.000000  ...    77.000000     0.000000
75%    2541.750000    56.000000  ...    85.000000     0.000000
max    3389.000000    70.000000  ...   394.000000     1.000000

[8 rows x 15 columns]

In [34]:
df.corr()

                       id       age  education  ...  heartRate   glucose  TenYearCHD
id               1.000000  0.016759  -0.032778  ...   0.025084  0.002149    0.009866
age              0.016759  1.000000  -0.102153  ...  -0.005345  0.099812    0.224927
education       -0.032778 -0.102153   1.000000  ...  -0.061752 -0.015926   -0.035194
cigsPerDay      -0.017192 -0.191956  -0.009115  ...   0.064971 -0.050550    0.066686
BPMeds           0.002070  0.075517  -0.018196  ...  -0.000045  0.015824    0.016902
prevalentStroke -0.038873  0.059038  -0.032585  ...  -0.018964  0.025502    0.068627
prevalentHyp     0.013236  0.308826  -0.060180  ...   0.147658  0.065705    0.166544
diabetes         0.003690  0.107875  -0.027369  ...   0.039827  0.473164    0.103681
totChol         -0.018108  0.224438  -0.001708  ...   0.068540  0.123447    0.077960
sysBP            0.019676  0.404845  -0.100389  ...   0.174424  0.114845    0.212703
diaBP            0.000832  0.221896  -0.034039  ...   0.175169  0.060086    0.135979
BMI              0.038045  0.126762  -0.060940  ...   0.064597  0.073499    0.048496
heartRate        0.025084 -0.005345  -0.061752  ...   1.000000  0.033627    0.016235
glucose          0.002149  0.099812  -0.015926  ...   0.033627  1.000000    0.111687
TenYearCHD       0.009866  0.224927  -0.035194  ...   0.016235  0.111687    1.000000

[15 rows x 15 columns]

In [35]:
df.isnull().sum()

id                 0
age                0
education          0
sex                0
is_smoking         0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [36]:
df['glucose'].unique()

array([ 80.        ,  75.        ,  94.        ,  77.        ,
        65.        ,  79.        ,  63.        ,   9.06947743,
        87.        ,  67.        ,  85.        , 132.        ,
        76.        , 100.        ,  70.        ,  60.        ,
        73.        ,  81.        ,  68.        ,  66.        ,
        78.        ,  96.        ,  72.        ,  61.        ,
        69.        , 103.        ,  92.        , 105.        ,
        93.        ,  89.        ,  64.        ,  83.        ,
       170.        ,  57.        ,  58.        ,  86.        ,
        99.        , 107.        ,  55.        ,  90.        ,
       177.        ,  71.        , 118.        ,  59.        ,
        74.        ,  84.        ,  82.        ,  95.        ,
       120.        , 173.        ,  91.        , 102.        ,
       163.        ,  88.        ,  62.        , 205.        ,
        97.        , 115.        ,  98.        , 268.        ,
       104.        , 137.        , 106.        , 348.        ,
       110.        , 122.        , 108.        , 255.        ,
       140.        , 124.        , 244.        , 294.        ,
       112.        , 113.        , 254.        , 116.        ,
        52.        ,  50.        , 114.        , 127.        ,
        56.        , 135.        ,  45.        , 206.        ,
        53.        , 101.        , 117.        , 126.        ,
       131.        , 394.        , 123.        , 270.        ,
       320.        , 129.        , 142.        ,  54.        ,
       235.        ,  40.        , 150.        , 136.        ,
       191.        ,  44.        , 119.        , 109.        ,
       121.        ,  43.        , 256.        , 145.        ,
        47.        , 297.        , 166.        , 172.        ,
        48.        , 111.        , 215.        , 216.        ,
       368.        , 155.        , 148.        , 147.        ,
       223.        , 225.        , 332.        , 210.        ,
       186.        , 386.        , 248.        , 193.        ,
       125.        , 167.        , 183.        , 260.        ,
       274.        ])

In [45]:
null_col=['cigsPerDay','BPMeds','totChol','BMI','glucose']

In [46]:
for x in null_col:
  df[x].fillna(df[x].mean(),inplace=True)

In [52]:
df.dropna(subset=['heartRate'],inplace=True)

In [53]:
df.isnull().sum()

id                  0
age                 0
education          87
sex                 0
is_smoking          0
cigsPerDay          0
BPMeds              0
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol             0
sysBP               0
diaBP               0
BMI                 0
heartRate           0
glucose             0
TenYearCHD          0
dtype: int64